/* CSS Document */

input[type=text], textarea{
	width: 100%;
	padding: .75rem;
	background: white;
	border: 1px solid black;
	font: inherit;
	font-size: 1.375rem;
}

select {
	padding: .75rem;
	width: 100%;
}

input[type=submit] {
	border: none;
	background: #3aaae0;
	color: white;
	padding: .75rem 1.5rem;
	border-radius: .25rem;
	font-size: 1.25rem;
	text-transform: uppercase;
}

textarea {
	height: 8rem;
}

.field {
	margin: 0 0 1.5rem;
	width: 100%;
}

label {
	display: block;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1rem;
	padding: .5rem 0;
}

#contact-form {
	margin-top: 3rem;
}

.form-fields {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.textfield, .selectfield {
	width: 48%;
}

input:required[type=text], textarea:required {
	background: url("images/icon-asterisk-gray.svg") right 1rem top 1rem no-repeat;
	background-size: 1.5rem auto;
}

form.form-error input:required[type=text], form.form-error  textarea:required {
	background: url("images/icon-asterisk-red.svg") right 1rem top 1rem no-repeat;
	background-size: 1.5rem auto;
}

form.search {
	padding: 6rem;
	background: url("images/colors-bg.png") left 5% top -5% no-repeat #101430;
	background-size: 60% auto;
	border-radius: 1rem;
	text-align: center;
	margin: 0 0 6rem;
}

form.search input {
	height: 3.75rem;
	line-height: 3.75rem;
	padding: 0 2rem;
	border-radius: 1.875rem;
	background: white;
	font: inherit;
	color: inherit;
	border: none;
	width: 50%;
}

form.search h2 {
	color: white;
	font-size: 2.5rem;
}

.message {
	font-weight: bold;
	padding: 1rem;
}

.error-message {
	color: red;
}

.success-message {
	color: green;
}